


# Ignore IDE / editor files
.idea/
.vscode/

# Ignore OS junk
.DS_Store
Thumbs.db

coverage/
.phpunit.result.cache

# Ignore Composer files
vendor/
php.bat
composer.lock
composer.phar